.App {
  text-align: center;
}

/* 이미지 설정 */
.App-image {
  height: 40vmin;
  pointer-events: none;
}

/* 전체적인 배경설정과 기본 글자 설정 */
.App-header {
  background-color: #525050;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px ;
  color: white;
}

/* 제목 글자 타입설정 */
.title-text{
  font-size: 30px ;
  font: bold;
  color: white;
}

.main-text{
  font-size: 50px ;
  font: bold;
  color: white;
}

